*{
    box-sizing: border-box;

}
html{
    font-family: sans-serif;
}
.title{
    display: grid;
    margin: 0px auto;
    margin-top: 100px;
    justify-content: center;
    font-size: 50px;
    color: black;
}
body{
    background-image: url('../Bilder/biblitek.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 80%;
    background-size: cover;
    background-position: center center;
    color: rgb(46, 46, 46);
    margin: 0;
}
header{
    margin: 0;
    width: 101%;
    position: fixed;
    top: 0px;
    z-index: 5;
    
}
h1{
    font-weight: bold;
}

nav{

    display: flex;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    width: 100%;
    padding: 1rem;
    
    
}
li a{
    display:inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: transform .2s;
}


#logo{
    width: 70px;
    height: 40px;
    margin: 0 auto ;
}

li a:hover {
    transform: scale(1.1);
  }


ul{
    list-style-type: none;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-size: 26px;
    flex-grow: 1;
}
.bilde{
    display: grid;
    width: 85%;
    border-radius: 10%;
    border: 2px solid white;
    margin: 0 auto;
}



.bildetekst{
    display: grid;
    max-width: 65ch;
    border-radius: 10%;
    padding: 10px;
    line-height: 150%;
    color: white;
    text-align: center;
}

.flex-container{
    background-color: black;
    display: grid;
    grid-template-columns: 100%;
    place-items: center, top;
    margin-top: 440px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 100px;
}

.footer{
    display: grid;
    flex-wrap: wrap;
    justify-items:center;
    color: white;
    background: black;
    opacity: 100%;
    padding: 20px;
    padding-left: -5px;
    padding-right: -5px;
    margin: -10px;
    margin-top: 20px;
}

.tekst{
    display: grid;
    margin: 0px auto;
    padding: 80px;
    max-width: 150ch;
    text-align: center;
    display: grid;
    background-color:rgba(255, 255, 255, 0.8);
    margin-top: 100px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-columns: 100%;
    place-items: center, center;
    grid-gap: 10px;
}   

.tekst h4{
    margin-top: 2rem;
}

h2{
    display: grid;
    margin: 0px auto;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin-top: 20px;
  }

.tekst p{
    display: grid;
    margin: 0px auto;
    max-width: 300ch;
    margin-top: 20px;
    line-height: 2;
}

.kilder {
    display: grid;
    max-width: 100%;
    background-color:rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    color: black;
}
.kilder a{
    color: purple;

}


@media screen and (min-width: 800px){
    .tekst{
       display: grid;
       font-weight: 500;
       font-size: 20px;
     
    }

    .bilde{
        width: 65%;

        margin:0px auto;
    }   
   
    ul{
        display: inline-flex;
    }
    header .menu{
        display: none; 
    }
    
    .droplogo{
        width:100%
    }
    .drop-ctn{
        display: inline-block;
        padding: 10px 15px;
        transition: all 1s ease;
    }
    .drop-ctn li{
        cursor: pointer;
        list-style: none;
    }
    .navigasjon{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-right: 30px;
     padding-left: 30px;
    }
}
