*{
    box-sizing: border-box;

}
.title{
    display: grid;
    margin: 0px auto;
    margin-top: 100px;
    justify-content: center;
    font-size: 50px;
    color: black;
}
body{
    background-image: url('../Bilder/biblitek.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 80%;
    background-size: cover;
    background-position: center center;
    color: rgb(46, 46, 46);
    margin: 0;
}
header{
    width: 100vw;
    position: fixed;
    top: 0px;
    margin-left: -40px;
    z-index: 5;
}
h1{
    font-weight: bold;
}
h2{
    padding-top: 20px;
    justify-content: center;
}

nav{
    display: block;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    width: 102%;
}
li, a{
    margin-left: 30px;
    margin-right: 30px;
    display:block;
    padding: 0.5em;
    padding-left: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: transform .2s;
}

#logo{
    width: 70px;
    height: 40px;
}

li a:hover {
    transform: scale(1.5);
  }


ul{
    list-style-type: none;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 26px;
    margin-left: 100px;
  }

.bilde{
    display: grid;
    height: 240px;
    width: 400px;
    border-radius: 10%;
    border: 2px solid white;
}

.bildetekst{
    display: grid;
    max-width: 65ch;
    border-radius: 10%;
    padding: 10px;
    line-height: 150%;
    color: white;
    text-align: center;
}

.flex-container{
    background-color: black;
    display: grid;
    grid-template-columns: 55% 45%;
    place-items: center, top;
    margin-top: 440px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 100px;
}

.footer{
    display: grid;
    flex-wrap: wrap;
    justify-items:center;
    color: white;
    background: black;
    opacity: 100%;
    padding: 20px;
    padding-left: -5px;
    padding-right: -5px;
    margin: -10px;
    margin-top: 20px;
}

.tekst{
    display: grid;
    margin: 0px auto;
    padding: 60px;
    max-width: 1100px;
    text-align: center;
    display: grid;
    background-color:rgba(255, 255, 255, 0.8);
    margin-top: 200px;
    margin-bottom: 200px;
    grid-template-columns: 1fr;
    grid-template-columns: 50% 50%;
    grid-area: "title title title title....";
    place-items: center, center;
    grid-gap: 20px;
}
h2{
    display: grid;
    margin: 0px auto;
   font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin-top: 90px;
    
}
p{
    display: grid;
    margin: 0px auto;
    max-width: 60ch;
    margin-top: 50px;
    line-height: 1.5;
}
#elev{
    margin-top: 40px;
    margin-left: 25px;
    display: grid;
    width: 400px;
    height: 250px;
    border: 2px solid;
    border-radius: 10px;
}